In [1]:
import os
import csv
import pandas as pd

In [5]:
bike1 = "201801_citibikejc_tripdata.csv"
bike2 = "201802_citibikejc_tripdata.csv"
bike3 = "201803_citibikejc_tripdata.csv"
bike4 = "JC-201804-citibike-tripdata.csv"
bike5 = "JC-201805-citibike-tripdata.csv"
bike6 = "JC-201806-citibike-tripdata.csv"

In [6]:
bike1_df = pd.read_csv(bike1, encoding="ISO-8859-1")
bike2_df = pd.read_csv(bike2, encoding="ISO-8859-1")
bike3_df = pd.read_csv(bike3, encoding="ISO-8859-1")
bike4_df = pd.read_csv(bike4, encoding="ISO-8859-1")
bike5_df = pd.read_csv(bike5, encoding="ISO-8859-1")
bike6_df = pd.read_csv(bike6, encoding="ISO-8859-1")

In [4]:
bike1_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,132,2018-01-01 00:01:46,2018-01-01 00:03:58,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29590,Join Citi Bike for $14.95/month,Subscriber,1964.0,1
1,560,2018-01-01 01:27:17,2018-01-01 01:36:38,3276,Marin Light Rail,40.714584,-74.042817,3269,Brunswick & 6th,40.726012,-74.050389,29613,Annual Membership,Subscriber,1989.0,2
2,294,2018-01-01 01:29:03,2018-01-01 01:33:58,3195,Sip Ave,40.730743,-74.063784,3225,Baldwin at Montgomery,40.723659,-74.064194,31940,Annual Membership - Save 15%,Subscriber,1994.0,1
3,197,2018-01-01 01:59:32,2018-01-01 02:02:49,3211,Newark Ave,40.721525,-74.046305,3278,Monmouth and 6th,40.725685,-74.048790,31949,Annual Membership,Subscriber,1964.0,1
4,932,2018-01-01 02:06:18,2018-01-01 02:21:50,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Annual Membership,Subscriber,1992.0,1

In [16]:
bike1_df.count()

tripduration               12677
starttime                  12677
stoptime                   12677
start station id           12677
start station name         12677
start station latitude     12677
start station longitude    12677
end station id             12677
end station name           12677
end station latitude       12677
end station longitude      12677
bikeid                     12677
name_localizedValue0       12677
usertype                   12677
birth year                 12335
gender                     12677
dtype: int64

In [7]:
bike2_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,386,2018-02-01 00:30:21,2018-02-01 00:36:47,3205,JC Medical Center,40.716540,-74.049638,3214,Essex Light Rail,40.712774,-74.036486,29617,Annual Membership,Subscriber,1984.0,1
1,724,2018-02-01 00:59:14,2018-02-01 01:11:19,3225,Baldwin at Montgomery,40.723659,-74.064194,3189,West Side Light Rail,40.714402,-74.088772,29635,Join Citi Bike for $14.95/month,Subscriber,1962.0,1
2,452,2018-02-01 03:50:25,2018-02-01 03:57:57,3280,Astor Place,40.719282,-74.071262,3195,Sip Ave,40.730743,-74.063784,29613,Annual Membership,Subscriber,1960.0,1
3,358,2018-02-01 05:06:52,2018-02-01 05:12:51,3279,Dixon Mills,40.721630,-74.049968,3638,Washington St,40.724294,-74.035483,31779,Join Citi Bike for $14.95/month,Subscriber,1964.0,1
4,218,2018-02-01 05:14:48,2018-02-01 05:18:26,3267,Morris Canal,40.712419,-74.038526,3183,Exchange Place,40.716247,-74.033459,29579,Annual Membership,Subscriber,1994.0,1

In [17]:
bike2_df.count()

tripduration               15104
starttime                  15104
stoptime                   15104
start station id           15104
start station name         15104
start station latitude     15104
start station longitude    15104
end station id             15104
end station name           15104
end station latitude       15104
end station longitude      15104
bikeid                     15104
name_localizedValue0       15104
usertype                   15104
birth year                 14717
gender                     15104
dtype: int64

In [8]:
bike4_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,383,2018-04-01 00:00:28,2018-04-01 00:06:52,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,26275,Annual Membership,Subscriber,1977.0,1
1,380,2018-04-01 00:05:42,2018-04-01 00:12:02,3202,Newport PATH,40.727224,-74.033759,3214,Essex Light Rail,40.712774,-74.036486,31675,Annual Membership,Subscriber,1982.0,1
2,415,2018-04-01 00:06:37,2018-04-01 00:13:33,3199,Newport Pkwy,40.728745,-74.032108,3639,Harborside,40.719252,-74.034234,29284,Annual Membership,Subscriber,1971.0,1
3,682,2018-04-01 00:14:26,2018-04-01 00:25:49,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,29595,Annual Membership,Subscriber,1988.0,1
4,208,2018-04-01 00:21:05,2018-04-01 00:24:33,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,31840,Annual Membership from Citi Bike App,Subscriber,1977.0,1

In [15]:
bike4_df.count()

tripduration               23634
starttime                  23634
stoptime                   23634
start station id           23634
start station name         23634
start station latitude     23634
start station longitude    23634
end station id             23634
end station name           23634
end station latitude       23634
end station longitude      23634
bikeid                     23634
name_localizedValue0       23634
usertype                   23634
birth year                 22110
gender                     23634
dtype: int64

In [11]:
frames = [bike1_df, bike2_df, bike3_df, bike4_df, bike5_df,bike6_df]

In [14]:
result = pd.concat(frames)
result.count()

tripduration               143916
starttime                  143916
stoptime                   143916
start station id           143916
start station name         143916
start station latitude     143916
start station longitude    143916
end station id             143916
end station name           143916
end station latitude       143916
end station longitude      143916
bikeid                     143916
name_localizedValue0       143916
usertype                   143916
birth year                 138711
gender                     143916
dtype: int64

In [18]:
result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,132,2018-01-01 00:01:46,2018-01-01 00:03:58,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29590,Join Citi Bike for $14.95/month,Subscriber,1964.0,1
1,560,2018-01-01 01:27:17,2018-01-01 01:36:38,3276,Marin Light Rail,40.714584,-74.042817,3269,Brunswick & 6th,40.726012,-74.050389,29613,Annual Membership,Subscriber,1989.0,2
2,294,2018-01-01 01:29:03,2018-01-01 01:33:58,3195,Sip Ave,40.730743,-74.063784,3225,Baldwin at Montgomery,40.723659,-74.064194,31940,Annual Membership - Save 15%,Subscriber,1994.0,1
3,197,2018-01-01 01:59:32,2018-01-01 02:02:49,3211,Newark Ave,40.721525,-74.046305,3278,Monmouth and 6th,40.725685,-74.048790,31949,Annual Membership,Subscriber,1964.0,1
4,932,2018-01-01 02:06:18,2018-01-01 02:21:50,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Annual Membership,Subscriber,1992.0,1

In [19]:
result.to_csv("bike2018.csv", index=False, header=True)

In [20]:
start_station_counts = result["start station id"].value_counts()

In [21]:
start_station_counts.head()

3186    16901
3203     8630
3195     7791
3183     7687
3202     6522
Name: start station id, dtype: int64

In [22]:
end_station_counts = result["end station id"].value_counts()
end_station_counts.head()

3186    20508
3183     9792
3203     8451
3202     6964
3195     6801
Name: end station id, dtype: int64